<form action="/api/image-upload" method="post" enctype="multipart/form-data">
  <div>
    <label for="profile">Choose an image to upload:</label>
    <input type="file" id="profile" name="profile">
  </div>
  <button type="submit">Upload Image</button>
</form>

<h1>Images</h1>
    {{#each images}}
      <img src="{{image}}">
    {{/each}}