<!-- {{!-- <form action="/api/image-upload" method="post" enctype="multipart/form-data">
  <div>
    <label for="profile">Choose an image to upload:</label>
    <input type="file" id="profile" name="profile">
  </div>
  <button type="submit">Upload Image</button>
</form> --}} -->

<h1>Upload Image</h1>
<form action="/imagee" enctype="multipart/form-data" method="POST">
  <input type="file" name="myImage" />
  <!-- {{!-- <input type="text" id="name" placeholder="Name" value="" name="title" required>
  <input type="text" id="name" placeholder="Name" value="" name="description" required> --}} -->

  <input type="submit" value="Upload Photo" />
</form>
<div class="container">
  <div class="row">
    
  <%x.forEach((y)=>{%>
    <div class="col-lg-4">
        <img src="/images/<%=y.image%>" alt="image" width="100">
        <h1><%= y.name %></h1>

        <h1><%= y.email %></h1>
        
    </div>
    <%})%>
    
  </div>
</div>

