@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-clr: #7522e6;
  --bg-clr: #f2f4f5;
  --white-bg: #fff;
  --dark-text-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #f1e8fd;
}
body.dark-mode {
  --primary-clr: #7522e6;
  --bg-clr: #1e1e1e;
  --white-bg: #23262b;
  --dark-text-clr: #fff;
  --light-text-clr: #fff;
  --hover-clr: #31313f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;

  background: var(--bg-clr);
}
#head{
  width: 100%;

}
ol, ul {
  padding-left: 1rem;
}
.container {
  width: 90px;
  min-height: 500px;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
  background-color: var(--white-bg);
  transition: all 0.3s ease;
}
.container.active {
  width: 250px;
}
.container .logo {
  width: 100%;
  margin-bottom: 30px;
}
.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-item:last-child {
  margin-top: 55px;
  margin-left: -25px;
}
.link-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-text-clr);
}
.link-item a span {
  transition: transform 0.5s;
  transform: translateX(100px);
}
.link-item:last-child span h4 {
  line-height: 1;
}
.link-item:last-child span p {
  font-size: 12px;
}
.container.active .link-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}
.link-item a:hover {
  background-color: var(--hover-clr);
}
.link-item.active a {
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
}
.link-item ion-icon {
  min-width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}
.link-item img {
  width: 50px;
  height: 50px;
  margin-right: 0px;
  border-radius: 50%;
}
.link-item ion-icon.noti-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-clr);
  border: 1px solid var(--white-bg);
}
.link-item a .num-noti {
  margin-left: 40px;
  font-size: 12px;
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
  min-width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.link-item.active a .num-noti {
  color: var(--primary-clr);
  background-color: var(--white-bg);
}
/* Dashboard style css */
.cart{
  background-color: #7522e6;
  height: 200px;
  padding-top: 1rem;
}

   /* Event Head style code */
   .gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
      }
      .card-registration .select-arrow {
      top: 13px;
      }


