<h3>{{subjecttitle}}</h3>


<form action="/AddSubject" method="post" autocomplete="off">
<input type="hidden" name="_id" value="{Subject._id}">
<div class="form-group">
  <label>Subject Name</label>
  <input type="text" name="_id" value="{Subject.Subject}" placeholder="Subject Name"> 
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary">Add+</button>

  <a href="/list" class="btn btn-Success">Views All</a>
</div>





</form>